<!--管理者：顧客編集画面-->
<h1>さんの会員情報編集</h1>
<!-- form_with部分 -->
<%= form_with model: @customers, url:admin_customers_path, method: :post do |f| %>
 <!-- 商品画像と税抜き価格のリンクまだ-->
  <h4>会員ID</h4>
   <%= @customers.id %>
   
  <h4>氏名</h4>
  <%= f.text_field :last_name %>
	<%= f.text_field :first_name %>
  <h4>フリガナ</h4>
  <%= f.text_field :last_name_kana %>
  <%= f.text_field :first_name_kana %>
  <h4>郵便番号</h4>
	 <%= f.number_field :postal_code %>
	 
	<h4>住所</h4>
	 <%= f.text_field :address %>
	 
	<h4>電話番号</h4>
	 <%= f.number_field :telephone_number %>
	 
	<h4>メールアドレス</h4>
	 <%= f.text_field :email %>
	 
	<h4>会員ステータス</h4>
	<!--#radio_buttonは丸い選択ボタン-->
	 <%= f.radio_button :is_deleted, :false%>有効 <%= f.radio_button :is_deleted, :ture %>退会
  
  <!--%= f.submit '変更を保存' %>-->
  <%= link_to "変更を保存", admin_customer_path(@customers.id) %>
<% end %>

