<!--管理者：顧客詳細画面-->
<h1>さんの会員詳細</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <table>
          <h5>会員ID</h5>
            <p><%= @customer.id %></p>

          <h5>氏名</h5>
            <p><%= @customer.last_name %></p>

          <h5>フリガナ</h5>
            <p><%= @customer.last_name_kana %>
            
          <h5>郵便番号</h5>
            <p><%= @customer.postal_code %></p>
            
          <h5>住所</h5>
            <p><%= @customer.address %></p>
            
          <h5>電話番号</h5>
            <p><%= @customer.telephone_number %></p>
            
          <h5>メールアドレス</h5>
            <p><%= @customer.email %></p>
            
          <h5>会員ステータス</h5>
          <td><% if @customer.is_deleted == false %>
　            有効
　            <% else %> 
　            退会
　            <% end %></td>
        </table>
        <%= link_to "編集する", edit_admin_customer_path(@customer.id) %>
        <%= link_to "注文履歴一覧を見る", admin_path(@customer.id) %>
      </div>
    </div>
  </div>
